@use 'vars';

%shell{
    padding: 1em;
    border-radius: 45px;
}

%main{
    padding: 2em;
    border-radius: 30px;
}

%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    padding: 1em;
}