//===CONTAINER-COLORS===
$background: #465e6c;
$dashboard: linear-gradient(to bottom, rgba(50, 137, 160, .25), rgba(255, 255, 255, 0.25));
$content: #ffffff;

//===VISITS-FOR-TODAY===
$gradient: #3289a0;
$statistics: #2a7b97;
$stats-details: #89b5c0;

//===POPULARITY-RATE===
$popularity: #f7d3c1;
$pop-details: #ff9d56;

//===FINANCE-PERFORMANCE===
$finance: #f9f9f9;

//===TOP-PERFORMERS===
$low-score: #89b5c0;
$high-sore: #eaf2f5;

//===FONTS===
$bigNumber: 'Lexend Mega',
    sans-serif;
$mainFont: 'Montserrat',
    sans-serif;
$bodyFont: 'Oswald',
    sans-serif;