@use 'vars';
@use 'partial';

body{
    @extend %center;
    background-color: vars.$background;
    height: 100vh;
}
    #shell{
        @extend %shell;
        display: flex;
        background-color: vars.$dashboard;
    }
        #sidebar{
            @extend %vertical;
        }

        #mainWrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
            header{
                @extend %center;
                padding: 1em;
                margin-bottom: 2em;
            }

            main {
                @extend %main;
                display: flex;
                background-color: vars.$content;
            }
                
#visitsInfo {
    background-image: url(../images/visits-img.JPG);
    background-position: center;
    background-size: cover;
    width:60%;
    height: 20vh;
}

main {
    display: flex;
    flex-direction: column;

}

#bottomRow {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%
}

#topRow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}