@use 'vars';
@use 'partial';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@200;300;400&family=Montserrat:wght@400;700&family=Oswald:wght@200;300;400&display=swap');
body {
    @extend %center;
    background-color: vars.$background;
    font-size: .8vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    padding: 100px 70px;
    
    #shell {
        @extend %shell;
        display: flex;
        background: vars.$dashboard;

        #sidebar {
            @extend %sidebar;
            text-align: center;
            align-items: center;
            color: white;

            #logo {
                display: flex;
                flex-direction: column;
            }

            #logo img{
                width: 55px;
            }

            #sideNav {
                display: flex;
                flex-direction: column;
                justify-self: space-between;
                row-gap: 2em;

                .shellIcon img{
                    @extend %icons;
                }
                img#star-icon{
                    width: 15px;
                    padding: .8em;
                    background-color: white;
                    border-radius: 25px;
                }
            }
        }


        #mainWrapper {
            width: 100%;
            display: flex;
            flex-direction: column;

            header {
                @extend %header;
                padding: 1em 3em;
                color: white;
                
                #back{
                    display: flex;
                    justify-content: space-between;
                    width: 5%;
                    align-items: center;
                    gap: 1em;

                    .left-arrow{
                        border-radius: 45px;
                        background-color: white;
                        color: black;
                        width: 20px;
                    }
                }
                #headerNav {
                    display: flex;
                    justify-content: space-between;
                    width: 25%;
                }
                #members {
                    width: 25%;
                    display: flex;
                    justify-content: space-between;
                }
            }

            main {
                @extend %main;
                display: flex;
                flex-direction: column;
                background-color: vars.$content;
                height: 100%;
                justify-content: space-between;
                font-family: 'Montserrat', sans-serif;

                #topRow, #bottomRow{
                    display: flex;

                }
                #topRow {
                    column-gap: 30px;
                    height: 40%;
                    #visits {
                        width: 100%;
                        position: relative;
                        height: 100%;
                        #visitsInfo {
                            background-image: url(../images/visits-img.JPG);
                            background-position: center;
                            background-size: cover;
                            height: 100%;
                            @extend main;
                            justify-content: space-around;

                        }
                        #statistic {
                            padding: 2em;
                            background-color: lightblue;
                            border-radius: 25px 0;
                            width: 35%;
                            text-align: center;
                            margin: 2em 4em 0 25em;
                        }
                    }

                    #popularity {
                        // width: 33%;
                        // display: flex;
                        // flex-direction: column;
                        @extend %navbar;
                        background-color: vars.$popularity;
                        @extend %main;
                        height: 100%;


                        #popTop {
                            display: flex;

                            #popRate {
                                display: flex;
                                flex-direction: column;
                            }

                            .meter{
                                width: 75px;
                            }
                        }

                        #popInsights {
                            display: flex;
                        }
                    }
                }

                #bottomRow {
                    justify-content: space-between;
                    height: 40%;
                }
                // .row{
                //     height: 100%;
                // }
        }
    }
}

}

.bigNumber{
    font-size: 60px;
    font-family: 'Lexend Mega', sans-serif;
    font-weight: 300;
}